* {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  font-family: Verdana;
}

body {
  padding: 10px;
}

h1 {
  color: #284dff;
}

h2 {
  color: #748cff;
}

code {
  font-family: Consolas;
  font-size: 14px;
  color: #485d43;
}

input {
  min-width: 300px;
  border-color: #859382;
  border-radius: 6px;
  padding: 2px;
  margin: 4px;
}

textarea {
  min-width: 300px;
  border-color: #859382;
  border-radius: 6px;
  padding: 2px;
  margin: 4px;
}

button {
  background-color: #8bcc7d;
  border-width: 1px;
  border-radius: 6px;
  padding: 2px;
  margin: 4px;
}

button:hover {
  transform: scale(1.05);
  background-color: #7abb6c;
}

.issue {
  margin: 20px;
  padding: 5px;
  width: 60%;
  border: 1px solid #ffc0cb;
  border-radius: 8px;
}

.closed {
  background-color: #c0cbff;
}

.id {
  font-size: 10.5px;
}